<div>
    <br>
    <mat-card class="login-card">
        <mat-card-content>
                <img class="imagen" src="../../assets/logo-Sf.png" alt="" srcset="">
                <br>
                <br>
                <br>
                <div>
                    <mat-form-field class="login-form-field">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="login-form-field">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>
                <br>
                <br>
                <br>
                <button class="login-form-button" mat-raised-button color="primary" routerLink="/">Iniciar Sesión</button>
                <br>
                <br>
                <br>
                <div class="register-div">¿No tiene una cuenta? <a routerLink="/registro">Regístrate ahora.</a></div>
        </mat-card-content>
    </mat-card>
</div>
